<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>


   

    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>



    <a href="https://www.buymeacoffee.com/BumBallMaker"><img width="32px"   class="SiteIcons" alt="Coffee" title="Buy me a coffee" src="https://user-images.githubusercontent.com/87287709/191911454-3681e3a2-2d45-41f7-8df1-1e3683e0d81f.png"/></a>

    <a href="https://www.notion.so/BUMBALL_MAKER-b81e0c5ec9de49219f71df747440bbb2"><img width="32px"   class="SiteIcons"  alt="Notion" title="Notion" src="https://user-images.githubusercontent.com/87287709/191731335-a0759d06-6d22-4714-a7bc-55c7db8fc5e0.png"></a>
    
    <a href="https://www.linkedin.com/in/seungbin-nam-149601251/"><img width="32px"   class="SiteIcons" alt="LinkedIn" title="LinkedIn" src="https://user-images.githubusercontent.com/87287709/191726773-823da87d-3f23-445b-83d7-ded1202043a1.png"/></a>
      
    <a href="mailto:bigwatermoon@naver.com"><img width="32px"  class="SiteIcons"  alt="Email" title="Send Email" src="https://user-images.githubusercontent.com/87287709/191726139-49455a2a-25e8-4809-9845-13cba8926343.png"/></a>
  
    <a href="https://github.com/BumBall-Maker"><img width="32px"  class="SiteIcons" alt="GitHub Profile"  title="GitHub Profile" src="https://user-images.githubusercontent.com/87287709/191929325-737fb201-c475-4687-b886-05ec128e92a3.svg"/></a>
  
   
  
   
  
     
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
